.productCard {
  //  width: 250px;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 80px;
  margin-bottom: 50px;


}

.swap {
  display: flex;
  flex-direction: column;

}

.gap {
  padding-left: 10px;
}

.pic {
  position: relative;
}

.pic {

  margin-top: 30px;
  border-radius: 7px;
  width: 280px;
  height: 325px;


}

.propic_cont {
  position: absolute;
}

.spic {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  margin-top: 10px;
}

.nam {
  font-size: 20px;
  margin-left: 50px;
  margin-top: -25px;
}

.com {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.tag {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 0px;
}

.like {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 0px;
}

.reply {
  font-size: 20px;
  margin-top: -20px;
  margin-left: 50px;
}

.propic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20%;
  margin-top: 10px;

}

.prsname {
  font-size: 17px;
  margin-left: 0px;
  margin-top: 25px;
}

.pri {
  margin-top: 0px;
  font-size: 17px;
}

.product_container {
  display: flex;
}