.productCard {
  width: 300px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.swap {
  display: flex;
  flex-direction: column;
}

.gap {
  padding-left: 10px;
}

pic {
  position: relative;
}

.pic {
  // position: absolute;
  margin-top: 150px;
  width: 300px;
  border-radius: 7px;
  width: auto;
  height: auto;
  max-width: 230px;
  max-height: 230px;
}

.spic {
  width: 300px;
  border-radius: 50px;
}

.nam {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 25px;
}

.com {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.tag {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 0px;
}

.like {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 0px;
}

.reply {
  font-size: 15px;
  margin-top: -15px;
  margin-left: 100px;
}

.propic {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.prname {
  font-size: 17px;
  margin-left: 70px;
  margin-top: -45px;
}

.pri {
  font-size: 17px;
}

.product_container {
  display: flex;
}
