.wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  Button {
    color: blue;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 40px;
    border: none;
  }
}
.tag {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 40px;

  Button {
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    color: black;
  }
}
.Container {
  width: 80%;
  margin-left: 80px;
}
