@mixin size($w: null, $h: null, $m: null, $p: null) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}

.container {
  @include size(400px, $m: 0 auto, $p: 60px 0 160px);
  .logo {
    padding: 0 0 50px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    &_desc {
      font-style: normal;
      font-size: 12px;
      font-weight: 800;
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    position: relative;
    .label {
      color: #222222;
      font-size: 13px;
      line-height: 18px;
      font-weight: bold;
    }
    .input {
      @include size($m: 0 0 20px 0, $p: 10px 0);
      font-family: -apple-system, BlinkMacSystemFont, Roboto,
        AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, 나눔고딕,
        Segoe UI, Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
      outline: 0;
      border: 0;
      border-bottom: 1px solid lightgray;
      &:focus {
        border-bottom: 2px solid black;
      }
    }
    .alert {
      &:focus {
        border-bottom: 1px solid #f15746;
      }
    }
    .email_alert,
    .pw_alert {
      position: absolute;
      top: 60px;
      color: #f15746;
      font-size: 11px;
    }
    .pw_alert {
      top: 140px;
    }
    .login_btn {
      height: 52px;
      border: 0;
      color: white;
      background-color: black;
      border-radius: 12px;
      font-size: 16px;
      cursor: pointer;
    }
    .disabled {
      background-color: #ebebeb;
      cursor: auto;
    }
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    a {
      @include size($m: 30px 0, $p: 0 20px);
      text-decoration: none;
      color: #222222;
      font-size: 13px;
      &:nth-child(2) {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
      }
    }
    .disabled {
      cursor: not-allowed;
    }
  }
  .kakao_btn {
    @include size(100%, 59.4px, 0, 0);
    border-radius: 12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    img {
      @include size(100%, $m: 0);
      position: relative;
      bottom: 2px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    min-width: 330px;
  }
}

@media screen and (max-width: 365px) {
  .container {
    margin: 0 10px;
  }
}
