.snb_box {
  width: 200px;
  min-width: 120px;
  margin-right: 20px;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .snb_list {
    margin-top: 40px;
    h3 {
      margin-bottom: 12px;
      vertical-align: top;
      font-size: 18px;
      font-weight: 600;
    }
    ul {
      cursor: pointer;
      a {
        text-decoration: none;
        li {
          margin-top: 12px;
          line-height: 18px;
          font-size: 15px;
          color: rgba(34, 34, 34, 0.5);
        }
      }
    }
  }
}
