.container {
  .ship {
    padding: 30px 0 10px 0;
    font-size: 14px;
    color: #222222cc;
    border: 0;
  }
  .normal_ship {
    font-size: 14px;
    padding: 2px 0;
    margin: 2px 0;
  }
  .date {
    color: #22222280;
  }
  .before_buy {
    margin: 20px 0 0 0;
  }
  .check {
    color: #222222;
    display: flex;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
  }
  .last {
    margin: 0 0 30px 0;
  }
  .inspection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    &_title {
      font-weight: 600;
      padding: 4px 0;
    }
    &_desc {
      font-size: 13px;
      color: #22222280;
    }
  }
  .last_inspection {
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 20px 0;
  }
  .responsibility {
    font-size: 12px;
    color: #22222280;
    padding: 30px 0;
    line-height: 16px;
  }
}
