.title_container {
  padding: 8px 40px 0;
  .title_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10% 24px;
    h1 {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .quick_filter {
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    .filter_icon {
      margin-right: 8px;
      padding: 10px;
      width: 28px;
      height: 23px;
      background-color: #f4f4f4;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
      }
    }
    span {
      margin-left: 8px;
      padding: 10px 12px;
      height: 23px;
      background-color: #f4f4f4;
      border-radius: 12px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
