.pic {
    width: 150px;
}

.nam {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 30px;
}

.com {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

.pri {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}