.container {
  margin-bottom: 50px;
}

.pic_cont {
  position: relative;
  width: 100%;
  padding-bottom: 140%;

  .pic {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
}

.content_header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  .like {
    // position: absolute;
    // right: 10px;
    // top: 10px;
    width: 15px;
    height: 18px;
  }
}
.nam {
  font-size: 20px;
  margin-top: 10px;
}

.com {
  font-size: 20px;
}

.pri {
  font-size: 20px;
  margin-top: 10px;
}
