.wrap {
  margin-top: 150px;
  margin-left: 170px;
  width: 1200px;
}

.title_box {
  margin-bottom: 20px;
}
.eng_title {
  font-size: 20px;
  letter-spacing: -0.1px;
  font-weight: 700;
  color: #000;
}
.kor_title {
  font-size: 14px;
  letter-spacing: -0.21px;
  color: rgba(34, 34, 34, 0.5);
}
