.container {
  width: 1200px;
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.font {
  font-size: 30px;
  font-weight: bold;
}
.gap {
  margin-top: 15px;
  .baner {
    position: relative;
    width: 200px;
    .baner_image {
      width: 100%;
      height: auto;
      max-width: 260px;
      max-height: 260px;
      border-radius: 7px;
    }
    .user_image {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .nickname {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
    }
  }
}
