.gap{
    margin-top: 15px;
   
    .baner{
        width: auto; height: auto;
        max-width: 260px;
        max-height: 260px;
        
    }
} 
.font{
    font-size: 30px;
    font-weight: bold;
    
}
.container{
    width: 80%;
    margin-left: 140px;
    margin-top: 150px;
}

