.search_content {
  width: 100%;

  .search_option {
    width: 100%;
    height: 68px;
    display: flex;

    .filter_sorting {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .search_list {
    letter-spacing: 0.4px;

    .search_item {
      margin: 20px 0;
      padding: 0 10px;
      position: relative;
      float: left;
      width: 22%;
      a {
        text-decoration: none;
        .product {
          background-color: #ebf0f5;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: auto;
          cursor: pointer;
          img {
            object-fit: cover;
            border-radius: 12px;
            width: 100%;
            height: 300px;
          }
        }
        .product_info {
          padding-top: 9px;
          cursor: pointer;
          .brand_name {
            font-size: 15px;
            font-weight: 700;
            color: black;
          }
          .product_name {
            margin-top: 2px;
            font-size: 14px;
            color: black;
          }
          .product_name_kor {
            margin-top: 2px;
            font-size: 13px;
            color: rgba(34, 34, 34, 0.5);
          }
        }
        .product_price {
          padding-top: 11px;
          cursor: pointer;
          .price {
            font-size: 15px;
            font-weight: 700;
            color: black;
          }
          .immediate_purchase_price {
            font-size: 12px;
            color: rgba(34, 34, 34, 0.5);
          }
        }
      }
      .interest_figure {
        padding-top: 12px;
        .wish_figure {
          display: inline-flex;
          align-items: center;
          vertical-align: top;
          height: 20px;
          color: black;
          img {
            width: 15px;
            height: 18px;
          }
          p {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
