@mixin size($w: null, $h: null, $m: null, $p: null) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: rgb(250, 250, 250);
  padding: 30px 0 150px;
  .content {
    @include size(700px, $m: 0 auto, $p: 0 30px);
    background-color: white;
    &_top {
      @include flex-center;
      height: 144px;
    }
    .image {
      img {
        @include size(80px, 80px);
        border-radius: 12px;
      }
    }
    .text {
      margin: 15px;
      line-height: 22px;
      .kr_name {
        font-size: 13px;
        color: lightgray;
      }
      .size {
        font-weight: 700;
      }
    }
  }
  .address {
    @include size(700px, $m: 20px auto, $p: 0 30px 30px);
    background-color: white;
    &_top {
      border-bottom: 1px solid lightgray;
      padding: 0 0 10px 0;
    }
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 30px 0 10px;
    }
    &_info {
      display: flex;
      line-height: 20px;
      width: 500px;
      word-break: break-all;
      &_left {
        width: 80px;
        font-size: 13px;
        color: #22222280;
      }
      &_right {
        @include size(500px, $m: 0 0 0 14px);
        font-size: 14px;
      }
    }
    .ship_way {
      border: 1px solid;
      border-radius: 12px;
      line-height: 20px;
      padding: 20px;
      .ship_desc {
        font-size: 14px;
        color: #22222280;
      }
    }
  }
  .point {
    @include size(700px, $m: 0 auto, $p: 20px 30px 0);
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 10px 0;
    }
    input {
      @include size(500px, 52px, $p: 0 20px);
      border-radius: 4px;
      border: 1px solid #22222280;
      outline: none;
    }
    button {
      @include size(74px, 50px, 0 0 0 20px);
      border-radius: 12px;
      cursor: not-allowed;
      border: 0;
    }
    &_num {
      color: #22222280;
      padding: 20px 0;
    }
  }
  .last_order_info {
    @include size(700px, $m: 20px auto, $p: 30px);
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 0 0 10px;
    }
    .price {
      @include flex-between;
      border-bottom: 1px solid lightgray;
      padding: 20px 0;
      &_num {
        font-size: 20px;
        color: #f15746;
      }
    }
    .price_addition {
      @include flex-between;
      padding: 10px 0 4px;
      &_title {
        font-size: 12px;
        color: #22222280;
      }
      &_price {
        font-size: 14px;
      }
    }
  }
  .deal_way {
    @include size(700px, $m: 20px auto, $p: 30px);
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 0 0 10px;
    }
    .easy {
      @include flex-between;
      padding: 10px 0 4px;
      &_way {
        @include flex-center;
      }
      button {
        background-color: transparent;
        border: 0;
        cursor: not-allowed;
      }
      .deal_title {
        font-size: 15px;
        color: #222222;
      }
      .lump_sum {
        @include flex-center;
        font-size: 12px;
        color: #22222280;
        padding: 0 10px;
      }
    }
    .card {
      @include size(636px, 62px, 20px 0 0 0, 4px 10px);
      border: 1px solid;
      border-radius: 12px;
      .company {
        padding: 10px 0;
      }
    }
  }
  .checks {
    @include size(700px, $m: 0 auto, $p: 0 30px 30px);
    background-color: white;
    .check {
      @include size(630px, 100px, 0 auto);
      @include flex-center;
      justify-content: space-between;
      background-color: white;
      border-bottom: 1px solid lightgray;
      .label {
        font-size: 15px;
        cursor: pointer;
      }
      .sub {
        padding: 4px 0;
        font-size: 13px;
        color: #22222280;
      }
      .check_input {
        padding: 0 20px;
      }
      input[type='checkbox'] {
        @include size(24px, 24px);
        cursor: pointer;
      }
      input[type='checkbox']:checked {
        @include size(24px, 24px);
        cursor: pointer;
      }
    }
    .last_price {
      @include flex-between;
      padding: 20px;
      h1 {
        font-size: 18px;
        color: #222222;
        font-weight: 700;
        padding: 0 0 10px;
      }
      .price {
        color: #f15746;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .deal {
      @include size(636px, 52px, 0 auto);
      @include flex-center;
      justify-content: center;
      border-radius: 12px;
      border: 0;
      color: white;
      font-size: 16px;
      background-color: black;
      cursor: pointer;
    }
    .disabled {
      background-color: #ebebeb;
      cursor: auto;
    }
  }
}
