.container {
  background-color: rgb(250, 250, 250);
  padding: 30px 0 100px;
  .content {
    width: 700px;
    height: 650px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    &_top {
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgray;
    }
    .image {
      img {
        width: 80px;
        height: 80px;
        border-radius: 12px;
      }
    }
    .text {
      margin: 15px;
      line-height: 22px;
      .kr_name {
        font-size: 13px;
        color: lightgray;
      }
      .size {
        font-weight: 700;
      }
    }
    .price_list {
      display: flex;
      justify-content: center;
      .buy,
      .sell {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 318px;
        height: 90px;
        text-align: center;
        .title {
          color: #22222280;
          font-size: 12px;
          padding: 4px 0;
        }
      }
      .buy {
        border-right: 1px solid lightgray;
      }
    }
    .sell_tab {
      width: 636px;
      height: 52px;
      display: flex;
      margin: 30px auto;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 24px;
      background-color: #f4f4f4;
      font-size: 16px;
      color: white;
      .sell_btn {
        color: #222222cc;
        width: 314px;
        margin: 4px;
        height: 44px;
        border-radius: 24px;
        border: 0;
        cursor: pointer;
        background-color: #f4f4f4;
      }
      .active {
        background-color: #41b979;
        color: white;
      }
    }
    .btn {
      width: 636px;
      height: 52px;
      display: flex;
      margin: 30px auto;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 24px;
      background-color: #41b979;
      font-size: 16px;
      color: white;
    }
    .buy_btn {
      background-color: #ef6253;
    }
    .price_now {
      display: flex;
      justify-content: space-between;
      margin: 0 40px 10px;
      height: 53px;
      border-bottom: 1px solid lightgray;

      &_title {
        font-size: 14px;
      }
      .red {
        color: red;
      }
      &_price {
        font-size: 20px;
        position: relative;
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        p {
          position: absolute;
          right: 0;
          font-size: 13px;
          color: #ef6253;
        }
        input {
          position: relative;
          font-size: 20px;
          text-align: right;
          padding: 10px 0 0;
          background-color: transparent;
          border: 0;
          height: 100%;
          outline: 0;
        }
      }
    }
    .price_red {
      border-bottom: 2px solid red;
    }
    .price_addition {
      display: flex;
      justify-content: space-between;
      margin: 0 40px 0;
      height: 23px;
      &_text {
        font-size: 13px;
        color: #22222280;
      }
      &_price {
        font-size: 14px;
      }
    }
    .buy_addition {
      padding: 20px 0;
    }
    .price_box {
      display: flex;
      justify-content: space-between;
      margin: 10px 40px 0;
      height: 23px;
      padding: 10px 0;
      font-weight: 700;
      line-height: 30px;
      border-top: 1px solid;
      &_text {
        font-size: 15px;
      }
      &_price {
        font-size: 20px;
        color: #41b979;
      }
    }
    .buy_price {
      color: #22222280;
      font-size: 16px;
    }
    .continue {
      cursor: pointer;
      width: 636px;
      height: 52px;
      display: flex;
      margin: 50px auto;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 12px;
      background-color: black;
      font-size: 16px;
      color: white;
    }
    .disabled {
      cursor: auto;
      background-color: #ebebeb;
    }
  }
}
