.banner {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.left_banner {
  width: 50%;
}

.right_banner {
  width: 50%;
}

use_info {
  position: relative;
}

.use_info {
  position: absolute;
  margin-top: 160px;
  margin-left: 50px;
  width: 300px;

  .font_use {
    font-size: 20px;
    font-weight: bold;
  }
}

cumsu {
  position: relative;
}

.cumsu {
  position: absolute;
  margin-top: 25px;
  color: #909090;
}

use_policy {
  position: relative;
}

.use_policy {
  position: absolute;
  margin-top: 65px;
  color: #909090;
}

panalty {
  position: relative;
}

.panalty {
  position: absolute;
  margin-top: 100px;
  color: #909090;
}

community {
  position: relative;
}

.community {
  position: absolute;
  margin-top: 140px;
  color: #909090;
}

support {
  position: relative;
}

.support {
  position: absolute;
  margin-top: 160px;
  margin-left: 480px;
  width: 200px;

  .fontUse {
    font-size: 20px;
    font-weight: bold;
  }
}

kongji {
  position: relative;
}

.kongji {
  position: absolute;
  margin-top: 25px;
  margin-left: 0px;
  color: #909090;
}

service {
  position: relative;
}

.service {
  position: absolute;
  margin-top: 65px;
  margin-left: 0px;
  color: #909090;
}

show_room {
  position: relative;
}

.show_room {
  position: absolute;
  margin-top: 100px;
  margin-left: 0px;
  color: #909090;
}

seller {
  position: relative;
}

.seller {
  position: absolute;
  margin-top: 140px;
  margin-left: 0px;
  color: #909090;
}

center {
  position: relative;
}

.center {
  position: absolute;
  margin-top: 160px;
  margin-left: 950px;
  width: 500px;

  .fontUse {
    font-size: 20px;
    font-weight: bold;
  }
}

run_time {
  position: relative;
}

.run_time {
  position: absolute;
  margin-top: 25px;
  margin-left: 0px;
  color: #909090;
}

run_time1 {
  position: relative;
}

.run_time1 {
  position: absolute;
  margin-top: 55px;
  margin-left: 0px;
  color: #909090;
}

run_time2 {
  position: relative;
}

.run_time2 {
  position: absolute;
  margin-top: 95px;
  margin-left: 0px;
  font-size: 20px;
}

button_q {
  position: relative;
}

.button_q {
  position: absolute;
  margin-top: 140px;

  .bt {
    font-size: 15px;
    color: white;
    background: black;
    padding: 5px 10px 5px 10px;
  }
}

.bottom_line {
  margin-top: 400px;
  width: 100%;
  border-bottom: 1px solid #e0dddd;
}

introduce {
  position: relative;
}

.introduce {
  position: absolute;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 20px;
  width: 1500px;
}

recu {
  position: relative;
}

.recu {
  position: absolute;
  font-size: 20px;
  margin-top: -20px;
  margin-left: 100px;
}

susset {
  position: relative;
}

.susset {
  position: absolute;
  font-size: 20px;
  margin-top: -20px;
  margin-left: 200px;
}

use_law {
  position: relative;
}

.use_law {
  position: absolute;
  font-size: 20px;
  margin-top: -20px;
  margin-left: 290px;
}

priver {
  position: relative;
}

.priver {
  position: absolute;
  margin-top: -20px;
  margin-left: 390px;

  .fontUse {
    font-size: 20px;
    font-weight: bold;
  }
}

word,
word1 {
  position: relative;
}

.word {
  position: absolute;
  margin-top: 30px;
  color: #909090;

  .word_line {
    text-decoration: underline;
  }
}

.word1 {
  position: absolute;
  margin-top: 65px;
  color: #909090;
}

insta,
face {
  position: relative;
}

.insta {
  position: absolute;
}

.face {
  position: absolute;
}

ch_banner,
face,
insta {
  position: relative;
}

.ch_banner {
  position: absolute;
  width: 50px;
  margin-left: 750px;
  margin-top: -10px;
}

.face {
  position: absolute;
  width: 90px;
  margin-left: 700px;
}

.insta {
  position: absolute;
  width: 50px;
  margin-left: 650px;
}

kcp_banner,
word2,
word3,
kream {
  position: relative;
}

.kcp_banner {
  position: absolute;
  width: 50px;
  margin-top: 120px;
  margin-left: -10px;
}

.word2 {
  position: absolute;
  margin-top: 130px;
  margin-left: 50px;
  font-size: 15px;
  color: #909090;
}

.word3 {
  position: absolute;
  margin-top: 190px;
  font-size: 15px;
  color: #909090;
}

.kream {
  position: absolute;
  margin-left: 1250px;
  margin-top: 200px;
  font-size: 13px;
  color: #909090;
}