.shop_top_banner {
  padding: 0 40px;
  .search_trend_container {
    max-width: 95vw;

    .search_trend_brand_list {
      display: flex;
      justify-content: space-between;
      padding: 0 0 16px;

      .brand_item {
        float: left;
        cursor: pointer;

        img {
          width: 70px;
          height: 70px;
          border-radius: 100%;
          object-fit: cover;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
  .banner_box {
    height: 100px;
    background-color: #030423;
    text-align: center;
    img {
      justify-self: center;
      width: 300px;
      height: 100px;
    }
  }
}
