.shop_top_banner {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;

  .search_trend_container {
    max-width: 95vw;

    .search_trend_brand_list {
      display: flex;
      justify-content: space-between;
      padding: 0 0 16px;

      .brand_item {
        float: left;
        cursor: pointer;

        img {
          width: 70px;
          height: 70px;
          border-radius: 100%;
          object-fit: cover;
        }

        p {
          font-size: 14px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}
