@mixin size($w: null, $h: null, $m: null, $p: null) {
  width: $w;
  height: $h;
  margin: $m;
  padding: $p;
}

.container {
  @include size(400px, 0 auto, 60px 0 160px);
  .logo {
    padding: 0 0 50px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    text-align: center;
  }
  .signup {
    position: relative;
    display: flex;
    flex-direction: column;
    .label {
      color: #222222;
      font-size: 13px;
      line-height: 18px;
      font-weight: bold;
    }
    .red {
      color: #f15746;
    }
    .input {
      @include size($m: 0 0 20px 0, $p: 10px 0);
      font-family: -apple-system, BlinkMacSystemFont, Roboto,
        AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, 나눔고딕,
        Segoe UI, Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
      outline: 0;
      border: 0;
      border-bottom: 1px solid lightgray;
      &:focus {
        border-bottom: 2px solid black;
      }
      &::placeholder {
        color: lightgray;
      }
    }
    .alert {
      &:focus {
        border-bottom: 1px solid #f15746;
      }
    }
    .email_alert,
    .pw_alert {
      position: absolute;
      top: 60px;
      color: #f15746;
      font-size: 11px;
    }
    .pw_alert {
      top: 140px;
    }
    .size {
      cursor: pointer;
      &:focus {
        border-bottom: 1px solid lightgray;
      }
    }
    .open {
      position: relative;
      left: 30px;
      input[type='checkbox'] {
        @include size(24px, 24px, 0 20px 0 0);
        border-radius: 2px;
        border: 1px solid rgb(216, 216, 216);
      }
      input[type='checkbox']:checked {
        @include size(24px, 24px, 0 20px 0 0);
        border-radius: 2px;
      }
      .label {
        font-weight: 400;
        cursor: pointer;
      }
      input {
        position: relative;
        top: 7px;
        cursor: pointer;
      }
    }
    .close {
      display: none;
    }
    .agree {
      display: flex;
      justify-content: space-between;
      input[type='checkbox'] {
        @include size(24px, 24px, 0 20px 0 0);
        border-radius: 2px;
        border: 1px solid rgb(216, 216, 216);
      }
      input[type='checkbox']:checked {
        @include size(24px, 24px, 0 20px 0 0);
        border-radius: 2px;
      }
      .label {
        font-weight: 400;
        cursor: pointer;
      }
      input {
        position: relative;
        top: 7px;
        cursor: pointer;
      }
      .btn {
        cursor: pointer;
        background-color: transparent;
        border: 0;
        font-size: 16px;
        position: relative;
        top: 5.5px;
      }
    }
    .signup_btn {
      @include size(100%, 52px, 30px 0);
      cursor: pointer;
      border-radius: 12px;
      color: white;
      background-color: black;
      border: 0;
      font-size: 16px;
    }
    .disabled {
      background-color: #ebebeb;
      cursor: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    min-width: 330px;
    .logo {
      text-align: left;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 365px) {
  .container {
    margin: 0 10px;
  }
}
