.container {
  padding: 40px 70px 160px;
  max-width: 1200px;
  display: flex;
  .content_box {
    width: 80vw;
    .content_title_border {
      padding: 5px 0 16px;
      border-bottom: 3px solid #222;
      h3 {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
