.container {
  background-color: rgb(250, 250, 250);
  padding: 30px 0;
  .content {
    width: 700px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: white;
    &_top {
      display: flex;
      align-items: center;
      height: 144px;
    }
    .image {
      img {
        width: 80px;
        height: 80px;
        border-radius: 12px;
      }
    }
    .text {
      margin: 15px;
      line-height: 22px;
      .kr_name {
        font-size: 13px;
        color: lightgray;
      }
      .size {
        font-weight: 700;
      }
    }
  }
  .settle_acount {
    width: 700px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 30px 0 10px;
    }
    .content {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      justify-content: space-between;
      padding: 10px 4px 20px;
    }
    .add_acount {
      width: 72px;
      height: 34px;
      cursor: pointer;

      border-radius: 10px;
      border: 0;
      background-color: black;
      color: white;
    }
  }
  .address {
    width: 700px;
    margin: 20px auto;
    padding: 0 30px 30px;
    background-color: white;
    &_top {
      border-bottom: 1px solid lightgray;
      padding: 0 0 10px 0;
    }
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 30px 0 10px;
    }
    &_info {
      display: flex;
      line-height: 20px;
      width: 500px;
      word-break: break-all;
      &_left {
        width: 80px;
        font-size: 13px;
        color: #22222280;
      }
      &_right {
        font-size: 14px;
        width: 500px;
        margin: 0 0 0 14px;
      }
    }
    .ship_way {
      border: 1px solid;
      border-radius: 12px;
      line-height: 20px;
      padding: 20px;
      .ship_desc {
        font-size: 14px;
        color: #22222280;
      }
    }
  }

  .last_order_info {
    width: 700px;
    margin: 20px auto;
    padding: 30px 30px;
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 0 0 10px;
    }
    .price {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      padding: 20px 0;
      &_num {
        font-size: 20px;
        color: #31b462;
      }
    }
    .price_addition {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 4px;
      &_title {
        font-size: 12px;
        color: #22222280;
      }
      &_price {
        font-size: 14px;
      }
    }
  }
  .penalty_way {
    width: 700px;
    margin: 20px auto;
    padding: 30px 30px;
    background-color: white;
    h1 {
      font-size: 18px;
      color: #222222;
      font-weight: 700;
      padding: 0 0 10px;
    }
    .easy {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 4px;
      &_way {
        display: flex;
        align-items: center;
      }
      button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
      }
      .deal_title {
        font-size: 15px;
        color: #222222;
      }
      .lump_sum {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #22222280;
        padding: 0 10px;
      }
    }
    .card {
      width: 676px;
      height: 62px;
      border: 1px solid;
      margin-top: 20px;
      padding: 4px 10px;
      border-radius: 12px;
      .company {
        padding: 10px 0;
      }
    }
    p {
      padding: 10px;
      font-size: 13px;
      color: lightgray;
    }
  }
  .checks {
    width: 700px;
    margin: 0 auto;
    padding: 0 30px 30px;
    background-color: white;
    .check {
      width: 680px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      background-color: white;
      border-bottom: 1px solid lightgray;
      .label {
        font-size: 15px;
        cursor: pointer;
      }
      .sub {
        padding: 4px 0;
        font-size: 13px;
        color: #22222280;
      }
      .check_input {
        padding: 0 20px;
      }
      input[type='checkbox'] {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
      input[type='checkbox']:checked {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
    .last_price {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      h1 {
        font-size: 18px;
        color: #222222;
        font-weight: 700;
        padding: 0 0 10px;
      }
      .price {
        color: #31b462;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .deal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 636px;
      height: 52px;
      border-radius: 12px;
      border: 0;
      color: white;
      font-size: 16px;
      background-color: black;
      cursor: pointer;
    }
    .disabled {
      background-color: #ebebeb;
      cursor: auto;
    }
  }
}
